
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>TagSter</title>
    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


    </style>

<script>
    function openForm(ii) {
      document.getElementById(`myForm${ii}`).style.display = "block";
    }
    
    function closeForm(ii) {
      document.getElementById(`myForm${ii}`).style.display = "none";
    }
    </script>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/dashboard/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="#"><font size=4.2px>TagSter</font></a>
  <form action="/search" class="nav-item" method="GET" id="qqwwe">
  <input class="form-control form-control-dark w-100" type="text"  aria-label="Search tag" name="query" placeholder="Search" style="background-color:#ddd" >
</form>
  <button form="qqwwe" type="submit" class="btn nav-link"><font color="white">Search</font>></button>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/?path=/home/amulya">
              <span data-feather="home"></span>
              <b><font size=4px>Home</b> <span class="sr-only">(current)</span>
            </a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?path=/home/amulya/Documents">
              <span data-feather="file"></span>
              <b>Documents</b>
            </a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?path=/home/amulya/Downloads">
              <span data-feather="download"></span>
              <b>Downloads</b>
            </a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?path=/home/amulya/Music">
              <span data-feather="music"></span>
              <b>Music</b>
            </a>
            <hr>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?path=/home/amulya/Pictures">
              <span data-feather="image"></span>
              <b>Pictures</b>
            </a>

            <hr>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/?path=/home/amulya/Videos">
              <span data-feather="video"></span>
              <b>Videos</font></b>
            </a>
            <hr>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Additional options </span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>

        <!-- <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul> -->

      </div>
    </nav>

    <div class="album py-5 bg-light" style="padding-left: 265px" >
      <div class="container">
        <div>
          <center><%- messages('message', locals) %></center>    <br><br></div>
        <div class="row">
          
            <% for(var i=0;i< dir.length;i++){ %>
              
              <div class="col-md-2">
                  <div class="card mb-2 shadow-sm">
                      <a href="?path=<%= path %>/<%= dir[i]%>"><svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="/images/dir.png" height="120" width="145"/></svg></a>
                    <div class="card-body">
                        <a href="?path=<%= path %>/<%= dir[i]%>"><%= dir[i]%></a>
                    </div>
                  </div>
                </div>
              <%  } %>

              <% for(var i=0;i< file.length;i++){ %>
          <div class="col-md-2">
            <div class="card mb-2 shadow-sm">
                <a href="/file?path=<%= path %>/<%= file[i]%>"><svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><image xlink:href="/images/<%= extn[i]%>.png" height="120" width="145"/></svg></a>
              <div class="card-body">
                  <a href="/file?path=<%= path %>/<%= file[i]%>"><%= file[i] %></a>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="openForm('<%= file[i]%>')">Add Tag</button>
                  </div>
                </div>
              </div>
              <div class="form-popup" id="myForm<%= file[i]%>">

                  <form method="POST" action="/tagfile?path=<%= path %>/<%= file[i]%>&name=<%= file[i]%>" class="form-container">
                    <h1>Tag File</h1>
                
                    <label for="email"><b>Enter Tags</b></label>
                    <input type="text" placeholder="Enter Tags" name="tagfield" required>
                
                    <button type="submit" class="btn">Submit</button>
                    <button type="button" class="btn cancel" onclick="closeForm('<%= file[i]%>')">Close</button>
                  </form>
                  
                </div>
            </div>
          </div>
          <%  } %>
          
         
          
          
        </div>
        
          
      </div>
    </div>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.3/examples/dashboard/dashboard.js"></script></body>
</html>

